name: speech_to_text_service

services:
  speech-to-text-service:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    volumes:
      - ../:/app/
    # env_file:
    #   - ./.env
    ports:
      - "8000:8000"
    networks:
      - service_network
    restart: unless-stopped

networks:
  service_network:
    driver: bridge
